.weather {
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  border: 3px dashed grey;
  padding-bottom: 30px;
  width: max-content;
  padding: 0px 20px 20px 20px;
  margin-left: 25%;
}
.title {
  font-size: 3rem;
}
.form input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dashed rgb(2, 57, 88);
  font-size: 1rem;
}
.btn {
  border: 2px solid black;
  background-color: rgb(2, 57, 88, 0.8);
  color: white;
  border-radius: 20px;
  font-size: 1.3rem;
}
.weather .btn:hover {
  background-color: white;
 color: black;
}
.display {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}
.display .maincard {
  margin-top: 20px;
  align-self: center;
  border-radius: 20px;
  border: 1px solid grey;
  width: 500px;
  padding: 30px;
  margin-left: 5px;
  background-color: rgb(245, 242, 242);
}
.display .maincard .cardTitle {
  align-self: left;
  text-align: left;
  position: relative;
  font-size: 1.5rem;
}
.display .maincard .date {
  position: relative;
  left: 10px;
  color: grey;
  text-align: left;
}
.display .temp {
  text-align: center;
  font-size: 5rem;
  margin: -10px;
}
.display .main {
 position: relative;
 left: 150px;
 font-weight: 500;
 font-size: 1.2rem;
}
.display .maincard .icon  {
  width: 100px;
  position: absolute;
  align-content: center;
  margin-left: 100px;
  top: 300px;
}
.display .description {
  display: block;
  position: relative;
  text-align: left;
  font-size: 1.4rem;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 20px;
  font-size: 1rem;
  width: 400px;  
}
td {
  border-bottom: 2px dashed grey;
}
h4 {
  text-align: left;
  margin-right: 30px;
  font-size: 1.2rem;
}
.container .section1 {
  justify-self: left;
  width: 300px;
}
.container .section2 {
  justify-self: left;
  margin-left: 80px;
  width: 300px;
}